/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* set up the page to be full height */
html,
body,
#root,
div[data-rk] {
  font-family: "Inter";

  /* reserve space for the scrollbar, preventing unwanted layout changes as the
   * content grows while also avoiding unnecessary visuals when scrolling isn't
   * needed. */
  scrollbar-gutter: stable;
}

.daisy-tab {
  /* Adjust the Daisy Tabs component border to match the brighter border used in
   * the app */
  --tab-border-color: var(--fallback-nc, oklch(var(--nc) / 0.2));
}

.daisy-modal::backdrop {
  /* Make the default backdrop darker since our modal headers are dark too */
  background-color: #000000bb;
}

@layer base {
  h1 {
    @apply font-chakraPetch text-h1;
  }

  h2 {
    @apply font-chakraPetch text-h2;
  }

  h3 {
    @apply font-chakraPetch text-h3;
  }

  h4 {
    @apply font-chakraPetch text-h4;
  }

  h5 {
    @apply font-chakraPetch text-h5;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-accent bg-clip-text text-transparent;
  }
  .gradient-text-reversed {
    @apply bg-gradient-to-r from-accent to-primary bg-clip-text text-transparent;
  }
}