/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* set up the page to be full height */
html,
body,
#root,
div[data-rk] {
  height: 100%;
  font-family: "Rubik";
}

/* Custom fonts */
@font-face {
  font-family: "Akira";
  src: url(/fonts/Akira.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-h1 leading-h1;
  }

  h2 {
    @apply text-h2 leading-h2;
  }

  h3 {
    @apply text-h3 leading-h3;
  }

  h4 {
    @apply text-h4 leading-h4;
  }

  h5 {
    @apply text-h5 leading-h5;
  }

  h6 {
    @apply text-h6 leading-h6;
  }
}
