@tailwind base;
@tailwind components;
@tailwind utilities;

/* Don't show increment/decrement arrows for number inputs 
 see: https://github.com/tailwindlabs/tailwindcss/discussions/2173 */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

html {
  height: 100%;
}
body {
  @apply min-h-screen bg-midnight bg-gradient-to-br from-midnight via-midnight to-[#1E233D];
}

[data-rk],
#root {
  @apply min-h-screen;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
