@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.3;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-sun: theme(colors.sun);
    --color-sunBurst-start: theme(colors.sunBurst.start.DEFAULT);
    --color-sunBurst-start-hover: theme(colors.sunBurst.start.hover);
    --color-sunBurst-end: theme(colors.sunBurst.end.DEFAULT);
    --color-sunBurst-end-hover: theme(colors.sunBurst.end.hover);
    --color-pinkSlip: theme(colors.pinkSlip);
    --color-pinkSlipBurst-start: theme(colors.pinkSlipBurst.start.DEFAULT);
    --color-pinkSlipBurst-start-hover: theme(colors.pinkSlipBurst.start.hover);
    --color-pinkSlipBurst-end: theme(colors.pinkSlipBurst.end.DEFAULT);
    --color-pinkSlipBurst-end-hover: theme(colors.pinkSlipBurst.end.hover);
    --color-midnight: theme(colors.midnight);
    --color-dawn: theme(colors.dawn);
    --color-dawnAccent: theme(colors.dawnAccent);
    --color-inputBg: theme(colors.inputBg);
    --color-inputBorder: theme(colors.inputBorder);
    --color-darkButton: theme(colors.darkButton.DEFAULT);
    --color-darkButton-hover: theme(colors.darkButton.hover);
    --color-lightButton: theme(colors.lightButton.DEFAULT);
    --color-lightButton-hover: theme(colors.lightButton.hover);
    --color-secondaryText: theme(colors.secondaryText);
    --color-lightText: theme(colors.lightText);
    --color-success: theme(colors.success);
  }

  html {
    height: 100%;
  }

  body {
    @apply min-h-screen bg-midnight bg-gradient-to-br from-midnight via-midnight to-[#1E233D] bg-fixed text-body leading-body;
  }
  
  [data-rk],
  #root {
    @apply min-h-screen;
  }

  h1 {
    @apply text-h1 leading-h1
  }

  h2 {
    @apply text-h2 leading-h2
  }

  h3 {
    @apply text-h3 leading-h3
  }

  h4 {
    @apply text-h4 leading-h4
  }

  h5 {
    @apply text-h5 leading-h5
  }

  h6 {
    @apply text-h6 leading-h6
  }
}

/* Don't show increment/decrement arrows for number inputs 
 see: https://github.com/tailwindlabs/tailwindcss/discussions/2173 */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
