@font-face {
  font-family: "Akira";
  src: url(/src/public/fonts/Akira.otf);
}

@font-face {
  font-family: "RetroGaming";
  src: url(/src/public/fonts/Retro\ Gaming.otf);
}

td,
th {
  padding: 0.75rem;
}
